---
import Layout from "@/layouts/Layout.astro";
import AboutHeroSection from "@/components/about/AboutHeroSection.astro";
import AboutEducationSection from "@/components/about/AboutEducationSection.astro";
import AboutExperiencesSection from "@/components/about/AboutExperiencesSection";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const experiences: CollectionEntry<"experience">[] =
  await getCollection("experience");
---

<Layout title="About">
  <main class="flex flex-col">
    <div
      class="flex flex-col self-center justify-start items-center px-8 py-16 mt-16 min-h-[720px] w-full md:w-10/12 xl:w-8/12"
    >
      <AboutHeroSection />
      <AboutEducationSection />
      <AboutExperiencesSection client:load data={experiences} />
    </div>
  </main>
</Layout>
