---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import AboutHeroSection from "@/components/about/AboutHeroSection.astro";
import AboutEducationSection from "@/components/about/AboutEducationSection.astro";
import AboutExperiencesSection from "@/components/about/AboutExperiencesSection";
import AboutServicesSection from "@/components/about/AboutServicesSection";

const experiences: CollectionEntry<"experience">[] =
  await getCollection("experience");
const services: CollectionEntry<"service">[] = await getCollection("service");
---

<Layout title="About">
  <main class="flex flex-col">
    <div
      class="flex flex-col self-center justify-start items-center px-8 py-16 mt-16 min-h-[720px] w-full md:w-10/12 xl:w-8/12"
    >
      <AboutHeroSection />
      <AboutEducationSection />
      <AboutExperiencesSection client:load data={experiences} />
      <AboutServicesSection client:load data={services} />
    </div>
  </main>
</Layout>
