---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import BlogPostItem from "@/components/blog/BlogPostItem.astro";
import PaginationGroup from "@/components/PaginationGroup.astro";

const posts = await getCollection("blog");
---

<Layout title="About">
  <main class="flex flex-col">
    <div class="flex flex-col justify-center items-center p-8 mt-16">
      <div
        class="flex flex-col justify-center items-center gap-4 md:gap-6 w-full md:w-8/12 lg:w-6/12"
      >
        <h1
          class="text-3xl md:text-4xl font-semibold text-gray-950 dark:text-white"
        >
          Blog
        </h1>
        <p class="text-gray-500 dark:text-gray-400 text-center">
          I am prone to forget something, so I mostly note down what I heard,
          read, and watched for future reference. Used to bank it in local
          Obsidian vault, now I'm trying to write it down here with more proper
          structure.
        </p>
      </div>
      <div
        class="w-10/12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-stretch gap-4 md:gap-8 mt-8 md:mt-16"
      >
        {posts.map((post) => <BlogPostItem post={post} />)}
      </div>
      <PaginationGroup className="mt-16" />
    </div>
  </main>
</Layout>
