---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center">
    <div
      id="hero"
      class="flex flex-col justify-center items-center gap-4 md:gap-6 h-[720px]"
    >
      <h1
        class="text-gray-950 dark:text-white text-4xl md:text-6xl font-bold text-center w-10/12 md:w-8/12"
      >
        Your ideas, made scrollable and fits perfectly in your hand
      </h1>
      <h2 class="text-gray-500 dark:text-gray-400 md:text-lg text-center">
        I'm Rahardiyan, detail-oriented Mobile developer with a passion for
        creating beautiful, robust, and accessible apps
      </h2>
    </div>
  </main>
</Layout>
