---
import Layout from "../layouts/Layout.astro";
import HeroSection from "@/components/home/HeroSection.astro";
import StrengthSection from "@/components/home/StrengthSection.astro";
import ExperienceSection from "@/components/home/ExperienceSection.astro";
import ServiceSection from "@/components/home/ServiceSection.astro";
import LatestProjectsCarousel from "@/components/home/LatestProjectsCarousel";
import BlogSection from "@/components/home/BlogSection.astro";
import LeetSection from "@/components/home/LeetSection.astro";
---

<Layout title="homindolentrahar">
  <main class="flex flex-col items-center">
    <HeroSection />
    <ServiceSection />
    <ExperienceSection />
    <StrengthSection />
    <LatestProjectsCarousel client:load />
    <LeetSection />
    <BlogSection />
  </main>
</Layout>
