---
import { cn } from "@/lib/utils";

const { className } = Astro.props;
---

<div
  class={cn(
    className,
    "prose prose-p:text-gray-950 dark:prose-p:text-white prose-headings:text-gray-950 dark:prose-headings:text-white prose-blockquote:text-lg prose-blockquote:text-gray-500 dark:prose-blockquote:text-gray-400 prose-blockquote:font-normal prose-blockquote:border-gray-950 dark:prose-blockquote:border-white prose-h1:font-bold prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-li:text-gray-800 dark:prose-li:text-gray-200 prose-a:font-medium prose-a:underline prose-a:text-gray-950 dark:prose-a:text-white prose-code:text-gray-950 dark:prose-code:text-white prose-pre:bg-gray-100 dark:prose-pre:bg-gray-900/50 prose-pre:border prose-pre:border-gray-200 dark:prose-pre:border-gray-800 prose-pre:text-gray-950 dark:prose-pre:text-white prose-strong:text-gray-950 dark:prose-strong:text-white prose-strong:font-bold"
  )}
>
  <slot />
</div>
